**Swetha Gayathri Kuchimanchi**

**LGM-VIP**

**TASK 2 - Music Recommendation - BEGINNER LEVEL**

In [114]:
# Import Library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [115]:
# Import data sets
train = pd.read_csv(r'C:\Users\gayathri\Downloads\Music Recommendation\train.csv')
test = pd.read_csv(r'C:\Users\gayathri\Downloads\Music Recommendation\test.csv')
member = pd.read_csv(r'C:\Users\gayathri\Downloads\Music Recommendation\members.csv')
songs = pd.read_csv(r'C:\Users\gayathri\Downloads\Music Recommendation\songs.csv')
extra_song = pd.read_csv(r'C:\Users\gayathri\Downloads\Music Recommendation\song_extra_info.csv')

In [116]:
train.head()

,msno,song_id,source_system_tab,source_screen_name,source_type,target
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1

In [117]:
test.head()

,id,msno,song_id,source_system_tab,source_screen_name,source_type
0,0,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,WmHKgKMlp1lQMecNdNvDMkvIycZYHnFwDT72I5sIssc=,my library,Local playlist more,local-library
1,1,V8ruy7SGk7tDm3zA51DPpn6qutt+vmKMBKa21dp54uM=,y/rsZ9DC7FwK5F2PK2D5mj+aOBUJAjuu3dZ14NgE0vM=,my library,Local playlist more,local-library
2,2,/uQAlrAkaczV+nWCd2sPF2ekvXPRipV7q0l+gbLuxjw=,8eZLFOdGVdXBSqoAv5nsLigeH2BvKXzTQYtUM53I0k4=,discover,NaN,song-based-playlist
3,3,1a6oo/iXKatxQx4eS9zTVD+KlSVaAFbTIqVvwLC1Y0k=,ztCf8thYsS4YN3GcIL/bvoxLm/T5mYBVKOO4C9NiVfQ=,radio,Radio,radio
4,4,1a6oo/iXKatxQx4eS9zTVD+KlSVaAFbTIqVvwLC1Y0k=,MKVMpslKcQhMaFEgcEQhEfi5+RZhMYlU3eRDpySrH8Y=,radio,Radio,radio

In [118]:
member.head()

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
0,XQxgAYj3klVKjR3oxPPXYYFp4soD4TuBghkhMTD4oTw=,1,0,NaN,7,20110820,20170920
1,UizsfmJb9mV54qE9hCYyU07Va97c0lCRLEQX3ae+ztM=,1,0,NaN,7,20150628,20170622
2,D8nEhsIOBSoE6VthTaqDX8U6lqjJ7dLdr72mOyLya2A=,1,0,NaN,4,20160411,20170712
3,mCuD+tZ1hERA/o5GPqk38e041J8ZsBaLcu7nGoIIvhI=,1,0,NaN,9,20150906,20150907
4,q4HRBfVSssAFS9iRfxWrohxuk9kCYMKjHOEagUMV6rQ=,1,0,NaN,4,20170126,20170613

In [119]:
songs.head()

,song_id,song_length,genre_ids,artist_name,composer,lyricist,language
0,CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=,247640,465,張信哲 (Jeff Chang),董貞,何啟弘,3.0
1,o0kFgae9QtnYgRkVPqLJwa05zIhRlUjfF7O1tDw0ZDU=,197328,444,BLACKPINK,TEDDY| FUTURE BOUNCE| Bekuh BOOM,TEDDY,31.0
2,DwVvVurfpuz+XPuFvucclVQEyPqcpUkHR0ne1RQzPs0=,231781,465,SUPER JUNIOR,NaN,NaN,31.0
3,dKMBWoZyScdxSkihKG+Vf47nc18N9q4m58+b4e7dSSE=,273554,465,S.H.E,湯小康,徐世珍,3.0
4,W3bqWd3T+VeHFzHAUfARgW9AvVRaF4N5Yzm4Mr6Eo/o=,140329,726,貴族精選,Traditional,Traditional,52.0

In [120]:
extra_song.head()

                                        song_id             name          isrc
0  LP7pLJoJFBvyuUwvu+oLzjT+bI+UeBPURCecJsX1jjs=               我們  TWUM71200043
1  ClazTFnk6r0Bnuie44bocdNMM3rdlrq0bCGAsGUWcHE=  Let Me Love You  QMZSY1600015
2  u2ja/bZE3zhCGxvbbOB3zOoUjx27u40cf5g09UXMoKQ=              原諒我  TWA530887303
3  92Fqsy0+p6+RHe2EoLKjHahORHR1Kq1TBJoClW9v+Ts=          Classic  USSM11301446
4  0QFmz/+rJy1Q56C1DuYqT9hKKqi5TUqx0sN0IwvoHrw=             愛投羅網  TWA471306001

In [121]:
print('train',train.shape)
print('test',test.shape)
print('member',member.shape)
print('songs',songs.shape)
print('extra_song',extra_song.shape)

train (7377418, 6)
test (2556790, 6)
member (34403, 7)
songs (2296320, 7)
extra_song (2295971, 3)

In [122]:
np.mean(train.target)

0.5035170841614234

we can see that the train data set is balanced.

In [123]:
train = pd.merge(train, extra_song, on='song_id', how='left')

In [124]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7377418 entries, 0 to 7377417
Data columns (total 8 columns):
 #   Column              Dtype
---  ------              -----
 0   msno                object
 1   song_id             object
 2   source_system_tab   object
 3   source_screen_name  object
 4   source_type         object
 5   target              int64
 6   name                object
 7   isrc                object
dtypes: int64(1), object(7)
memory usage: 506.6+ MB

In [125]:
train.head()

,msno,song_id,source_system_tab,source_screen_name,source_type,target,name,isrc
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1,Good Grief,GBUM71602854
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1,Lords of Cardboard,US3C69910183
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1,Hip Hop Is Dead(Album Version (Edited)),USUM70618761
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1,Disco Africa,GBUQH1000063
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1,Sleep Without You,QM3E21606003

In [126]:
train['name'].value_counts()

演員                             19260
Closer                         15149
Faded                          15083
帥到分手                           13973
告白氣球                           13882
                               ...
永遠屬於你                              1
Odds of Even                       1
Grand Finale                       1
Shintai Kensa Я                    1
Television Rules The Nation        1
Name: name, Length: 234144, dtype: int64

In [127]:
len(train)

7377418

**Number of unique song ids in the dataset**

In [152]:
genres = train['song_id'].unique()

In [153]:
len(genres)

359966

In [186]:
song_data = train[['name','target']]
song_data

                                            name  target
0                                     Good Grief       1
1                             Lords of Cardboard       1
2        Hip Hop Is Dead(Album Version (Edited))       1
3                                   Disco Africa       1
4                              Sleep Without You       1
...                                          ...     ...
7377413                             Still D.R.E.       1
7377414                              Locked Away       0
7377415                                  FLY OUT       1
7377416                               Wonderwall       1
7377417                          Time after time       1

[7377418 rows x 2 columns]

In [187]:
song_data = song_data.groupby('name').sum()
song_data.sort_values(by=['target'], inplace=True, ascending=False)
song_data = song_data.reset_index() 
song_data.head(10)

                           name  target
0                            演員   13930
1                          帥到分手   10885
2                          告白氣球   10858
3   你，好不好？ (How Have You Been?)   10023
4                        Closer    9917
5                         Faded    9856
6      小幸運 (A little happiness)    9411
7  謝謝妳愛我 (Thanks For Your Love)    9004
8                            不該    8907
9                       讓我留在你身邊    8780

In [219]:
# function to recommend new songs
def Music_Recommendation(song_name, k):
    # to convert dataframe into array
    song_list = (song_data['name']).to_list() 
    # to check if song selected by user is available?
    if song_name in song_list :
        print("name"+"'"+song_name+"'"+" is available")
        song_index = (song_list.index(song_name))
        # total listen count of the song which is selected by user
        song_listen_count = (song_data['target'].iloc[song_index])
        new_distance_list = []
        for i in range(len(song_data)):
            if i != song_index :
                # calculate euclidean distance
                abs_distance = abs(song_listen_count - song_data['target'][i])
                new_distance_list.append([abs_distance,song_data['name'][i]])
        # to sort distance list by ascending order
        new_distance_list = sorted(new_distance_list)
        print("Top" + str(k) + "Recommendation for you.......")
        for i in range(k):
            print(i+1,")",new_distance_list[i][1])
    else:
        print("Song"+"'"+song_name+"'"+"is not available")
        print("Top" + str(k) + "Recommendation for you.......")
        recommend_song = (song_data['name']).head(k)
        for i in range(k):
            print(i+1,")",recommend_song['name'][i])
k = 10
Music_Recommendation('FLY OUT', k)

name'FLY OUT' is available
Top10Recommendation for you.......
1 ) 派對動物 (Party Animal)
2 ) 後來的我們 (Here| After| Us)
3 ) 好愛好散 (Blue Love Theme)
4 ) 不為誰而作的歌 (Twilight)
5 ) 孤獨是會上癮的 (Addicted To Loneliness)
6 ) Alone
7 ) 當你
8 ) 讓我留在你身邊
9 ) 走著走著就散了
10 ) 可惜沒如果 (If Only)